
.container{
   
    margin: auto;
    
    
}.fountmain{
    color: gray
  
}section{
  width: 100%;
}.left{
  float: left;
  margin: auto;

}.right{
   margin: auto;
}.react{
   margin: auto;
}.card{
  border-color: #fff;
  background-color: rgba(175, 145, 224, 0.082);
  margin:auto;
}.card{
  margin:auto;
}.logos{
  float: right;
}.card-img-top{
  height: 140px;
  
}#bio{
  color:gray;
}.youtube{
  float: left;
  margin: auto;
}.footer{
  margin: auto;
}.linebr{  
  margin: auto;

}
.form{
  float: left;
  margin: auto;
  
}.cmmt-box{
  height: 70px;
  
}#comments{
  border-color: rgba(128, 128, 128, 0.226);
  border-style: solid;
  width: 220px;
}input{
  border-color: rgba(128, 128, 128, 0.315);
  border-style: solid;
  width: 220px;
}.btn{
 float: right;
  
  
}.home{
  margin: auto;
}.navbaa{
  width: 100%;
}.bdy{
  margin: 2%;
}.input-val{
  width: 100%;
  
  margin: auto;
}
#tophead{
  z-index: 1;
  background-color: blanchedalmond;
}
