
.container{
   
    margin-top: 0%;
    
    
}.fountmain{
  
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 10px;
}section{
  width: 100%;
}.left{
  float: left;
  margin: auto;

}.right{
   margin: auto;
}.react{
   margin: auto;
}.card{
 
  
  margin:auto;
}.card{
  margin:auto;
}.logos{
  float: right;
}.card-img-top{
 height: 121px;
  

}.youtube{
  float: left;
  margin: auto;
}.footer{
  margin: auto;
  
}.linebr{  
  margin: auto;

}
.form{
  float: left;
  margin: auto;
  
}.cmmt-box{
  height: 70px;
  
}#comments{
  border-color: rgba(128, 128, 128, 0.226);
  border-style: solid;
  width: 220px;
}input{
  border-color: rgba(128, 128, 128, 0.315);
  border-style: solid;
  width: 220px;
}.btn{
 width: 230px;
  
  
}.home{
  margin: auto;
}.navbaa{
  width:100%;
  padding: auto;
}.bdy{
  padding-top: 0%;
  margin: 0;
  
   margin: 2%;
}.input-val{
  width: 100%;
  border: solid;
  border: rgb(237, 132, 100);
  border-radius: 6px;
  border: coral;
  border-width: 12px;
  
  margin: auto;
}

.card-text{
   font-family: "Times New Roman", Times, serif
}
.bak-img{
  margin-left: 12%;
  margin-right: 12%;
  height:auto;
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1622629797619-c100e3e67e2e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHN3aW1taW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  object-fit: cover;
  -o-object-fit: cover;
  background-position: center;
}
body{
  margin-top:0;
  margin-right: 5px;
 
}header{
  width: auto;
  margin: 0%;
  width: 100%;
}